<!--
Valentines Day Card
Name: Dylan Gill
File: index.html
Date: February 10, 2025
Description: Valentine's Day Card for my Girlfriend!
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Programmer Way Of Valentine's Day</title>
        <link rel="stylesheet" href="styles/Valentines2025.css" />
        <link rel="stylesheet" href="../../../content/styles/navbar.css" />
    </head>
    <body style="padding-top: 60px">
        <header>
            <!-- Navbar -->
            <nav class="navbar">
                <button class="hamburger" aria-label="Toggle navigation">
                    <span></span>
                </button>
                <ul class="nav-list">
                    <li><a href="../../../index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">MY BEAUTIFUL BABY GIRL</a>
                        <div class="dropdown-content">
                            <a href="../Valentines/Valentines2025.html">Valentine's 2025</a>
                            <a href="../Anniversarys/1month.html"> 1 Month Anniversary</a>
                            <a href="../Anniversarys/6mths.html">6 Month Anniversary</a>
                            <!-- more links -->
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ALWY</a>
                        <div class="dropdown-content">
                            <a href="../../AlexandriaGill/Birthdays/Birthday2025.html">Birthday 2025</a>
                            <!-- more links -->
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">MOM & DAD</a>
                        <div class="dropdown-content">
                            <a href="../../Mom&Dad/BigEvents/MovingHome2025.html">Moving Home 2025</a>
                            <!-- more links -->
                        </div>
                    </li>
                    <!-- dropdowns for other family members -->
                </ul>
            </nav>
        </header>
        <h1 class="VdayTitle">Happy Valentine's Day <br> Baby! 💖</h1>
        <div class="container"></div>
            <div class="wrapper">
                <div class="envelope">
                    <div class="name-tag"><h2>Jordan Geer</h2></div>
                    <div class="letter">
                        <div class="text">
                            <strong>Dear My Beautiful girl,</strong>
                            <p>
                                Where do I start with you miss Jordan Geer, I truly can't get enough of you... 
                                Baby the day I met you I was so nervous because you were so beautiful and I did not want to f*** it up,
                                but the good time we had at mini golf as I got my ass kicked was amazing! But all the dates have been amazing... The best part to me on that day 
                                was getting to know you, as we were in some random parking lot, hearing you talk about yourself, your passions, why you are a nurse,
                                and your future goals I knew you were the one for me and I could not let you go! Honestly it was also inspiring and very surreal to
                                hear you tell me about yourself, that day I knew you were the one for me... Baby I love everything about you especially your personality 
                                as you have such a big heart and your so kind, sweet, caring person and I even love your weird/funny side because to me thats the best parts of you!
                                Baby I love your laugh as it is so cute and your smile its so beautiful that one once said "Her smile, a pink sunset— perfect, pure, and softly set. In her glow, the world finds light,
                                beauty at its finest sight".
                                Baby I have loved getting to know everything about you over the last month and a half and cannot wait to find out more about you from your family,
                                as I am really excited to meet all of them and know who raised the most beautiful girl in the world! I truly can't get enough of you, baby you are the most beautiful girl in the world 
                                and I have told you so from Day 1 so Happy Valentine's Day Baby!! 
                                <br>
                                P.S. Thank you for making my birthday A special day, as the best part was being with you baby!!
                            </p>
                            <strong>Love: Dylan Gill</strong>
                        </div>
                    </div>
                </div>
                <div class="heart"></div>
            </div>
            <button class="btn" id="showIMGS">
                Click to see My Heaven
            </button>
            <audio id="backgroundMusic" loop style="display:none;">
                <source src="../../../content/assets/bruno_mars-just_the_way_you_are.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div class="audio-controls">
                <button id="playButton">Play</button>
                <button id="stopButton">Stop</button>
            </div>
            <div id="imageContainer" style="display:none;">
                <img src="../../../content/images/IMG_6713.jpeg" alt="Heaven1" id="imageLeft">
                <img src="../../../content/images/IMG_6714.jpeg" alt="Heaven2" id="imageRight">
            </div>
            <script src="../../../scripts/app.js"></script>
            <script src="scripts/valentines2025.js"></script>
    </body>
</html>
